@import "mixins.less";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Lato:300,400|Passion+One);

@color: #222;

html {
  font-family: "Lato";
}

body, html,
#splash, #splash-image {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  color: @color;
  text-decoration: none;
}

#splash {
  overflow: hidden;

  #splash-image {
    background: url("../img/backgrounds/main.jpg") center / cover;
    position: absolute;
    z-index: -1;
    .filter(sepia(100%));

    .animate-splash {
      from {
        top: 25px;
        opacity: 0;
      }
      to {
        top: 0px;
        opacity: 1;
      }
    }

    @keyframes animate-splash {.animate-splash}
    @-webkit-keyframes animate-splash {.animate-splash}

    .animation(animate-splash, 2.5s, 1, linear);

  }

  #social {
    float: right;
    margin: 1em 1em 0 0;

    a {
      margin: 0.5em;
      font-size: 1.5em;

      img {
        height: 30px;
      }
    }
  }

  #logo {
    text-align: center;
    clear: both;

    img {
      width: 250px;
    }
  }

  .content {
    text-shadow: 5px 5px rgba(0,0,0,0.3);
    color: white;

    .quote {
      font-family: "Shadows Into Light Two";
      font-size: 3em;
      padding: 10%;
      min-width: 200px;
      float:left;
      position: relative;

      &:after {
        content: '"';
        font-family: "Passion One";
        font-weight: 300;
        font-size: 8em;
        position: absolute;
        line-height: 0;
        top: 65%;
        right: 20%;
        opacity: 0.5;
        z-index: -1;
      }
    }

    #join-link {
      color: white;
      float: right;
      display: block;
      padding: 2%;
      margin: 8% 13%;
      min-width: 200px;
      text-align: center;
      font-size: 4em;
      border: 3px solid white;
      font-weight: 300;
      box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
      background: rgba(0,0,0,0.2);
      transition: background 0.3s;
      -webkit-transition: background 0.3s;

      &:hover {
        background: rgba(255,255,255,0.2);
      }
    }
  }
}
